@page
@model Website.Pages.ManageModel
@{
    ViewData["Title"] = "Manage";
}


<text class="alert-danger">@Model.Error</text>

@{
    bool isOwner = Model.LoggedUser == null || Model.Store == null ? false : Model.LoggedUser.Owns.Contains(Model.Store);
    bool isManager = Model.LoggedUser == null || Model.Store == null ? false : Model.LoggedUser.Manages.ContainsKey(Model.Store);
    if (isOwner)
    {
        <h3>Position - Owner</h3>
    }
    else if (isManager)
    {
        <h3>Position - Manager</h3>
    }

    <h4>Store Staff:</h4>
    <table style="width:60%;border:solid;border-color:black;border-width:1px">
        <tr style="border:solid;border-color:black;border-width:1px">
            <th style="border:solid;border-color:black;border-width:1px">Username</th>
            <th style="border:solid;border-color:black;border-width:1px">Position</th>
            <th style="border:solid;border-color:black;border-width:1px">Assigned By</th>
            <th style="border:solid;border-color:black;border-width:1px">Action</th>
        </tr>
        @{
            if (Model.Store != null)
            {
                foreach (var owner in Model.Store.Ownership)
                {
                    <tr style="border:solid;border-color:black;border-width:1px">
                        <th style="border:solid;border-color:black;border-width:1px">@owner.user.Username</th>
                        <th style="border:solid;border-color:black;border-width:1px">Owner</th>
                        @if (owner.appointer.Username.Equals("DEMO"))
                        {
                            <th style="border:solid;border-color:black;border-width:1px">Original Owner</th>
                        }
                        else
                        {
                            <th style="border:solid;border-color:black;border-width:1px">@owner.appointer.Username</th>
                        }
                        <th style="border:solid;border-color:black;border-width:1px">
                            @{
                                if (owner.appointer.Equals(Model.LoggedUser))
                                {
                                    <form id="removeOwner" method="post" style="text-align:center">
                                        <div class="form-group">
                                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                                            <input type="hidden" name="request" value="RemoveOwner">
                                            <input type="hidden" name="username" value=@owner.user.Username>
                                            <button type="submit" asp-page-handler="OwnerManagerHandler" class="form-control btn btn-primary" style="width:35%">Remove Owner</button>
                                        </div>
                                    </form>
                                }
                            }
                        </th>
                    </tr>
                }
            }
        }
        @{
            if (Model.Store != null)
            {
                foreach (var manager in Model.Store.Management)
                {
                    <tr style="border:solid;border-color:black;border-width:1px">
                        <th style="border:solid;border-color:black;border-width:1px">@manager.user.Username</th>
                        <th style="border:solid;border-color:black;border-width:1px">Manager</th>
                        <th style="border:solid;border-color:black;border-width:1px">@manager.appointer.Username</th>
                        <th style="border:solid;border-color:black;border-width:1px">
                            @{
                                if (manager.appointer.Equals(Model.LoggedUser))
                                {
                                    <form id="removeManager" method="post" style="text-align:center">
                                        <div class="form-group">
                                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                                            <input type="hidden" name="request" value="RemoveManager">
                                            <input type="hidden" name="username" value=@manager.user.Username>
                                            <button type="submit" asp-page-handler="OwnerManagerHandler" class="form-control btn btn-primary" style="width:35%">Remove Manager</button>
                                        </div>
                                    </form>
                                    var tempauths = manager.user.Manages.ContainsKey(Model.Store) ? manager.user.Manages[Model.Store] : null;
                                    if (isOwner || (tempauths != null && tempauths.Contains(SEWorkshop.Enums.Authorizations.Authorizing)))
                                        foreach (SEWorkshop.Enums.Authorizations? auth in Enum.GetValues(typeof(SEWorkshop.Enums.Authorizations)))
                                        {
                                            if (auth is null)
                                            {
                                                continue;
                                            }
                                            if (tempauths != null && tempauths.Contains(auth.Value))
                                            {
                                                <form method="post" style="text-align:center">
                                                    <div class="form-group">
                                                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                                                        <input type="hidden" name="request" value="RemovePermission">
                                                        <input type="hidden" name="username" value=@manager.user.Username>
                                                        <input type="hidden" name="authorization" value=@auth>
                                                        <label style="color:green">@auth Permission: Granted </label>
                                                        <button type="submit" asp-page-handler="PermissionHandler" class="form-control btn btn-primary" style="width:20%">Remove</button>
                                                    </div>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post">
                                                    <div class="form-group" style="text-align:center">
                                                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                                                        <input type="hidden" name="request" value="AddPermission">
                                                        <input type="hidden" name="username" value=@manager.user.Username>
                                                        <input type="hidden" name="authorization" value=@auth>
                                                        <label style="color:red">@auth Permission: Not Granted </label>
                                                        <button type="submit" asp-page-handler="PermissionHandler" class="form-control btn btn-primary" style="width:20%">Grant</button>
                                                    </div>
                                                </form>
                                            }
                                        }
                                }
                            }
                        </th>
                    </tr>
                }
            }
        }
    </table>
    if (isOwner && Model.Store != null)
    {
        @:<h4>Pending New Owner Requests:</h4>
        <table style="width:80%;border:solid;border-color:black;border-width:1px">
            <tr style="border:solid;border-color:black;border-width:1px">
                <th style="border:solid;border-color:black;border-width:1px">Wanna Be Owner</th>
                <th style="border:solid;border-color:black;border-width:1px">Assigned By</th>
                <th style="border:solid;border-color:black;border-width:1px">Your Answer</th>
                <th style="border:solid;border-color:black;border-width:1px;width:25%">Approve</th>
                <th style="border:solid;border-color:black;border-width:1px;width:25%">Deny</th>
            </tr>
            @{ 
                foreach(var req in Model.Store.OwnershipRequests)
                {
                    var appointer = req.Owner;
                    var wannaBeOwner = req.NewOwner;
                    var request = wannaBeOwner.OwnershipRequests.FirstOrDefault(request => request.Store.Equals(Model.Store));
                    if(request == default)
                    {
                        continue;
                    }
                    var answer = request.Answers.FirstOrDefault(request => request.Item1.Equals(Model.LoggedUser)).Item2;
                    if (request.State != SEWorkshop.Enums.RequestState.Pending)
                    {
                        continue;
                    }
                    <tr style="border:solid;border-color:black;border-width:1px">
                        <th style="border:solid;border-color:black;border-width:1px">@wannaBeOwner.Username</th>
                        <th style="border:solid;border-color:black;border-width:1px">@appointer.Username</th>
                        <th style="border:solid;border-color:black;border-width:1px">@answer.ToString()</th>
                        <th style="border:solid;border-color:black;border-width:1px">
                            @{
                                if (answer == SEWorkshop.Enums.RequestState.Pending)
                                {
                                    <form method="post">
                                        <div class="form-group" style="text-align:center">
                                            <input type="hidden" name="wannaBeOwnerName" value=@wannaBeOwner.Username>
                                            <input type="hidden" name="answer" value="Approved">
                                            <input type="hidden" name="storeName" value="@Model.StoreName">
                                            <button type="submit" asp-page-handler="AnswerOwnerRequest" class="form-control btn btn-success" style="width:80%">Approve</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <center><div>-----</div></center>
                                }
                            }
                        </th>
                        <th style="border:solid;border-color:black;border-width:1px">
                            @{
                                if (answer == SEWorkshop.Enums.RequestState.Pending)
                                {
                                    <form method="post">
                                        <div class="form-group" style="text-align:center">
                                            <input type="hidden" name="wannaBeOwnerName" value=@wannaBeOwner.Username>
                                            <input type="hidden" name="answer" value="Denied">
                                            <input type="hidden" name="storeName" value="@Model.StoreName">
                                            <button type="submit" asp-page-handler="AnswerOwnerRequest" class="form-control btn btn-danger" style="width:80%">Deny</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <center><div>-----</div></center>
                                }
                            }
                        </th>
                    </tr>
                }
            }
        </table>

            }
            if (Model.LoggedUser != null && Model.Store != null)
            {
            var auths = Model.LoggedUser.Manages.ContainsKey(Model.Store) ? Model.LoggedUser.Manages[Model.Store] : null;
            @if ((isOwner || (isManager && auths != null && auths.Contains(SEWorkshop.Enums.Authorizations.Owner))))
            {
                <h3>Add Owner</h3>
                <form id="addOwner" method="post">
                    <div class="form-group">
                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                        <input type="hidden" name="request" value="AddOwner">
                        <input class="form-control" name="username" type="text" placeholder="Username" style="width: 15%">
                        <button type="submit" asp-page-handler="OwnerManagerHandler" class="form-control btn btn-primary" style="width:15%">Add Owner</button>
                    </div>
                </form>
            }

            @if ((isOwner || (isManager && auths != null && auths.Contains(SEWorkshop.Enums.Authorizations.Manager))))
            {
                <h3>Add Manager</h3>
                <form id="addManager" method="post">
                    <div class="form-group">
                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                        <input type="hidden" name="request" value="AddManager">
                        <input class="form-control" name="username" type="text" placeholder="Username" style="width: 15%">
                        <button type="submit" asp-page-handler="OwnerManagerHandler" class="form-control btn btn-primary" style="width:15%">Add Manager</button>
                    </div>
                </form>
            }
            }



            @if (isOwner)
            {
                <h3>Manage Policies</h3>
                <h4>Current Policy:</h4>
                <h5>@Model.Policy</h5>

                @if (Model.PolicyNumber > 0 && Model.Store != null)
                {
                    <h4>Remove Policy</h4>
                    <form id="addManager" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="RemovePolicy">
                            <label for="index">Index:</label>
                            <input type="number" id="index" name="value" min="1" max=@Model.PolicyNumber>
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Remove</button>
                        </div>
                    </form>
                }

                @if (Model.Store != null)
                {
                    <h4>Add Day Policy</h4>
                    <form id="dayPolicy" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="DayPolicy">
                            <select id="value" name="value">
                                <option value="And">And</option>
                                <option value="Or">Or</option>
                                <option value="Xor">Xor</option>
                            </select>
                            <select id="value2" name="value2">
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Add Policy</button>
                        </div>
                    </form>

                    <h4>Add Country Policy</h4>
                    <form id="addManager" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="CountryPolicy">
                            <select id="value" name="value">
                                <option value="And">And</option>
                                <option value="Or">Or</option>
                                <option value="Xor">Xor</option>
                            </select>
                            <select id="value2" name="value2">
                                @foreach (var s in Model.countries)
                                {
                                    <option value=@s>@s</option>
                                }
                            </select>
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Add Policy</button>
                        </div>
                    </form>

                    <h4>Add City Policy</h4>
                    <form id="addManager" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="CityPolicy">
                            <select id="value" name="value">
                                <option value="And">And</option>
                                <option value="Or">Or</option>
                                <option value="Xor">Xor</option>
                            </select>
                            <input name="value2" type="text" placeholder="City" style="width: 15%">
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Add Policy</button>
                        </div>
                    </form>

                    <h4>Add Whole Store Policy</h4>
                    <form id="addManager" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="StoreQuantityPolicy">
                            <select id="value" name="value">
                                <option value="And">And</option>
                                <option value="Or">Or</option>
                                <option value="Xor">Xor</option>
                            </select>
                            <input name="value2" type="text" placeholder="Minimum" style="width: 8%">
                            <input name="value3" type="text" placeholder="Maximum" style="width: 8%">
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Add Policy</button>
                        </div>
                    </form>

                    <h4>Add Single Product Policy</h4>
                    <form id="addManager" method="post">
                        <div class="form-group">
                            <input type="hidden" name="storeName" value="@Model.Store.Name">
                            <input type="hidden" name="request" value="ProductQuantityPolicy">
                            <select id="value" name="value">
                                <option value="And">And</option>
                                <option value="Or">Or</option>
                                <option value="Xor">Xor</option>
                            </select>
                            <input name="value2" type="text" placeholder="Minimum" style="width: 8%">
                            <input name="value3" type="text" placeholder="Maximum" style="width: 8%">
                            <input name="value4" type="text" placeholder="Product" style="width: 15%">
                            <button type="submit" asp-page-handler="PolicyHandler" class="form-control btn btn-primary" style="width:15%">Add Policy</button>
                        </div>
                    </form>

                    <h3>Manage Discounts</h3>
                    <h4>Current Discount:</h4>
                    @if (Model.DiscountNumber > 0)
                    {
                        <table style="width:80%;border:solid;border-color:black;border-width:1px">
                            <tr style="border:solid;border-color:black;border-width:1px">
                                <th style="border:solid;border-color:black;border-width:1px">Index</th>
                                <th style="border:solid;border-color:black;border-width:1px">Discount</th>
                                <th style="border:solid;border-color:black;border-width:1px;width:20%">Action</th>
                            </tr>
                            @{
                                int index = 0;
                                foreach (var d in Model.discounts)
                                {
                                    <tr>
                                        <th style="border:solid;border-color:black;border-width:1px">@index</th>
                                        <th style="border:solid;border-color:black;border-width:1px">@d</th>
                                        <th style="border:solid;border-color:black;border-width:1px">
                                            <form id="removeDiscount" method="post" style="text-align:center">
                                                <div class="form-group">
                                                    <input type="hidden" name="storeName" value="@Model.Store.Name">
                                                    <input type="hidden" name="index" value=@index>
                                                    <button type="submit" asp-page-handler="RemoveDiscountHandler" class="form-control btn btn-primary" style="width:80%">Remove</button>
                                                </div>
                                            </form>
                                        </th>
                                    </tr>
                                    index++;
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <h5>None</h5>
                    }

                <h6>Leave Index Field Empty For New Discount</h6>
                <h4>Add Discount</h4>
                <form id="discount" method="post">
                    <div class="form-group" onload="fun(0)">
                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                        <select id="operator" name="oper">
                            <option value="And">And</option>
                            <option value="Xor">Xor</option>
                            <option value="Implies">Implies</option>
                        </select>
                        <select id="appliedTo" name="appliedTo" onchange="fun(this.value)">
                            <option value="Product">Product</option>
                            <option value="Category">Category</option>
                        </select>
                        <select id="chosenProduct" name="chosenProduct" style="width:8%">
                            @foreach (var s in Model.products)
                            {
                                <option value=@s>@s</option>
                            }
                            else if (val == "Category") {
                                $('#chosenProduct').hide();
                                $('#chosenCategory').show();
                            }
                        </select>
                        <label for="percent">Discount:</label>
                        <input type="number" id="percent" name="percent" min=0 max=100>
                        <label for="index">%  Index: </label>
                        <input type="number" id="index" name="index" style="width:5%" min="0" max="@(Model.DiscountNumber - 1)">

                        <label for="innerid">Inner ID: </label>
                        <input type="number" id="innerid" name="innerid" style="width:5%" min="0">

                        <label for="left">Compose on Left: </label>
                        <select id="left" name="left">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>

                        <label for="date">  Deadline</label>
                        <input type="date" id="date" name="date" style="width:15%">
                        <button type="submit" asp-page-handler="DiscountHandler" class="form-control btn btn-primary" style="width:15%">Add Discount</button>
                    </div>
                </form>

                <h4>Add Buy X Get Y Discount</h4>
                <form id="discount" method="post">
                    <div class="form-group">
                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                        <select id="operator" name="oper">
                            <option value="And">And</option>
                            <option value="Xor">Xor</option>
                            <option value="Implies">Implies</option>
                        </select>
                        <label for="buyProduct">Buy Item:</label>
                        <select id="buyProduct" name="buyProduct" style="width:8%">
                            @foreach (var s in Model.products)
                            {
                                <option value=@s>@s</option>
                            }
                        </select>
                        <label for="getProduct">Get Item:</label>
                        <select id="getProduct" name="getProduct" style="width:8%">
                            @foreach (var s in Model.products)
                            {
                                <option value=@s>@s</option>
                            }
                        </select>
                        <label for="buy">Buy:</label>
                        <input type="number" id="buy" name="buy" style="width:6%" min="0">
                        <label for="get">Get (leave empty for no limit):</label>
                        <input type="number" id="get" name="get" style="width:6%" min="0">
                        <label for="percent">Discount:</label>
                        <input type="number" id="percent" name="percent" min="0" max=100>
                        <label for="index">%  Index: </label>
                        <input type="number" id="index" name="index" style="width:5%" min="0" max="@(Model.DiscountNumber - 1)">

                        <label for="innerid">Inner ID: </label>
                        <input type="number" id="innerid" name="innerid" style="width:5%" min="0">

                        <label for="left">Compose on Left: </label>
                        <select id="left" name="left">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>

                        <label for="date">  Deadline</label>
                        <input type="date" id="date" name="date" style="width:15%">
                        <button type="submit" asp-page-handler="GetDiscountHandler" class="form-control btn btn-primary" style="width:15%">Add Discount</button>
                    </div>
                </form>

                <h4>Add Buy Over X Discount</h4>
                <form id="discount" method="post">
                    <div class="form-group">
                        <input type="hidden" name="storeName" value="@Model.Store.Name">
                        <select id="operator" name="oper">
                            <option value="And">And</option>
                            <option value="Xor">Xor</option>
                            <option value="Implies">Implies</option>
                        </select>
                        <select id="chosenProduct" name="chosenProduct" style="width:8%">
                            @foreach (var s in Model.products)
                            {
                                <option value=@s>@s</option>
                            }
                        </select>
                        <label for="buy">Buy Over:</label>
                        <input type="number" id="buy" name="buy" style="width:6%" min="0">
                        <label for="percent">Discount:</label>
                        <input type="number" id="percent" name="percent" min="0" max=100>
                        <label for="index">%  Index: </label>
                        <input type="number" id="index" name="index" style="width:5%" min="0" max="@(Model.DiscountNumber - 1)">

                        <label for="innerid">Inner ID: </label>
                        <input type="number" id="innerid" name="innerid" style="width:5%" min="0">

                        <label for="left">Compose on Left: </label>
                        <select id="left" name="left">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>

                        <label for="date">  Deadline</label>
                        <input type="date" id="date" name="date" style="width:15%">
                        <button type="submit" asp-page-handler="OverDiscountHandler" class="form-control btn btn-primary" style="width:15%">Add Discount</button>
                    </div>
                </form>

                <script>
                    function fun(val) {
                        if (val == "Product") {
                            $('#chosenCategory').hide();
                            $('#chosenProduct').show();
                        }
                    </script>

                }
            }
            }
