@page "{storeName}/{writerUserName}"
@model Website.Pages.MessageViewModel
@{
    if (Model.MsgToShow != null)
    {
        ViewData["Title"] = "MessageView";
    }
}

@if (Model.StoreWritingTo != null)
{
    <h2>Conversation between @Model.UserNameWritingTo and @Model.StoreWritingTo.Name</h2>
}

@{
    if (Model.Error.Equals(""))
    {
        var currMsg = Model.MsgToShow;
        while (currMsg != null)
        {
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">@currMsg.WrittenBy.Username wrote this</h6>
                    <p class="card-text">@currMsg.Description</p>
                </div>
            </div>
            currMsg = currMsg.Next;
        }

        <form id="messageSend" method="post">
            <div class="form-group">
                <input type="hidden" name="storeWritingTo" value="@Model.StoreWritingTo?.Name">
                <input type="hidden" name="userNameWritingTo" value="@Model.UserNameWritingTo">
                <label for="msg_txt_area">Write your message here</label>
                <textarea class="form-control" id="msg_txt_area" rows="3" name="content"></textarea>
                @if (Model.CanRespond)
                {
                    <button type="submit" class="form-control btn btn-primary">Send</button>
                }
            </div>
        </form>
    }
    else
    {
        <h2>@Model.Error</h2>
    }
}

