@model Website.Pages.ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card" style="width: 100%">
    <div class="card-body">
        <h5 class="card-title">@Model.Product.Name</h5>
        <h6 class="card-subtitle mb-2">@Model.Product.Category</h6>
        <h6 class="card-subtitle mb-2">@Model.Product.Price ₪</h6>
        <p class="card-text">@Model.Product.Description</p>
        <form method="post" asp-page="Store/@Model.Product.Store.Name">
            <input type="hidden" name="StoreName" value="@Model.Product.Store.Name">
            <input type="hidden" name="ProductName" value="@Model.Product.Name">
            <input type="text" name="Quantity">
            <button type="submit">Click here to add to the porduct to Cart!</button>
        </form>
    </div>
</div>