@page
@model Website.Pages.UsersStatisticsModel
@{
    ViewData["Title"] = "UsersStatistics";
}

<script>
function registerToHub(userName) {
    const handlersNewReportHub = [
        ["NewMessage", kind => {
        //TODO: SYNC THIS METHOD IF POSSIBLE
            if (kind === 'Guest') {
                const dom = document.getElementById('GuestsNum');
                const currInt = parseInt(dom.innerHTML);
                dom.innerHTML = currInt + 1;
            }
            else if (kind === 'LoggedInNotOwnNotManage') {
                const dom = document.getElementById('LoggedInNotOwnNotManageNum');
                const currInt = parseInt(dom.innerHTML);
                dom.innerHTML = currInt + 1;
            }
            else if (kind === 'LoggedInNoOwnYesManage') {
                const dom = document.getElementById('LoggedInNoOwnYesManageNum');
                const currInt = parseInt(dom.innerHTML);
                dom.innerHTML = currInt + 1;
            }
            else if (kind === 'LoggedInYesOwn') {
                const dom = document.getElementById('LoggedInYesOwnNum');
                const currInt = parseInt(dom.innerHTML);
                dom.innerHTML = currInt + 1;
            }
            else if (kind === 'Admin') {
                const dom = document.getElementById('AdminNum');
                const currInt = parseInt(dom.innerHTML);
                dom.innerHTML = currInt + 1;
            }
        }]
    ];
    ConnectToNotificationsHub(userName, "/newusereporthub", handlersNewReportHub);
}
</script>

@{ 
    var sessionId = Model.HttpContext.Session.Id;
    Model.UserManager.AccessSystem(sessionId);
    if (Model.UserManager.IsLoggedIn(sessionId))
    {
        var usrUp = Model.UserManager.GetDataLoggedInUser(sessionId);
        <script>registerToHub(@usrUp)</script>
    }
}
<script>
    ConnectToNotificationsHub();
</script>
    <div class="allpage">
        <h1 class="display-4">Users Statistics</h1>
        <h4>@Model.DateTimeNow.ToShortDateString()</h4>
        <div style="overflow-x:auto">
            <table class="table table-bordered table-responsive table-dark table-hover">
                <thead>
                    <tr>
                        <th>Guests</th>
                        <th>Registered (not managers or owners)</th>
                        <th>Store Managers (but not owners)</th>
                        <th>Store Owners</th>
                        <th>System Admins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="GuestsNum" style="text-align: center">@Model.TodaysStatistics[SEWorkshop.Enums.KindOfUser.Guest]</td>
                        <td id="LoggedInNotOwnNotManageNum" style="text-align: center">@Model.TodaysStatistics[SEWorkshop.Enums.KindOfUser.LoggedInNotOwnNotManage]</td>
                        <td id="LoggedInNoOwnYesManageNum" style="text-align: center">@Model.TodaysStatistics[SEWorkshop.Enums.KindOfUser.LoggedInNoOwnYesManage]</td>
                        <td id="LoggedInYesOwnNum" style="text-align: center">@Model.TodaysStatistics[SEWorkshop.Enums.KindOfUser.LoggedInYesOwn]</td>
                        <td id="AdminNum" style="text-align: center">@Model.TodaysStatistics[SEWorkshop.Enums.KindOfUser.Admin]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form class="statisticsform" method="post">
            <label for="date">Start Date</label>
            <input type="date" id="date" name="date">
            <label for="date">End Date</label>
            <input type="date" id="date" name="date">
            <button class="submit" type="submit" id="submit">Show Statistics</button>
        </form>
    </div>
